# Copyright (C) 2026 Прокофьев Даниил <d@dvprokofiev.ru>
# Лицензировано под GNU Affero General Public License v3.0
# Часть проекта генератора рассадок
:80 {
    encode gzip
    route {
        handle_path /api/* {
            reverse_proxy backend:5000
        }
        handle {
            root * /srv
            file_server
            try_files {path} /index.html
        }
    }
}